<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Câncer de Mama</title>
     <link rel="stylesheet" href="../static/style/style.css">
</head>
<body>
    <h1>Insira os dados do exame</h1>

    <form action="/processar_dados" method="post">

        <label for="nome">Digite seu nome completo:</label>
        <input type="text" id="nome" name="nome" required >

        <label for="imagem">Adicione a Imagem:</label>
        <input type="file" id="imagem" name="imagem">

        <button type="submit">Enviar</button>
    </form>

</body>

    <footer>
       🚀❣🚀 Vitor de Jesus 🚀❣🚀
    </footer>
</body>
</html>






